<div class="header-container">
  <img src="assets/images/wedding.svg" class="header-icon">
  <h2 class="primary-color">Gallery</h2>
  <p class="subtitle fancy">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  </p>
<div class="grid" #grid>
  <mat-card class="card lt-primary-bg-color" *ngFor="let card of cards">

    <mat-card-header>
      <mat-card-title class="card-title"><span></span></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ card.srcUrl }}" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-body">
      <span></span>
    </mat-card-content>
  </mat-card>
</div>
