<div class="header-container fade-in first" [class.is-mobile]="mobileQuery.matches">
  <img src="assets/images/wedding-ring.svg" class="header-icon">
  <h2 class="primary-color">Ceremony & Party</h2>
</div>
<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" (click)="openLightbox(i)"></ngx-gallery> -->
<gallery *ngIf="media$ | async; let config"
[items]="images"
[thumbWidth]="config.thumbWidth"
[thumbHeight]="config.thumbHeight"
[thumbPosition]="config.thumbPosition"></gallery>
<div class="subheader">
  <h3 class="primary-color subheader">Location Map</h3>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.1886827615003!2d120.95739561483477!3d14.124998690106795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd79dc7086fc39%3A0x56d9690c8ba530bb!2sAquila+Crystal+Palace+Tagaytay!5e0!3m2!1sen!2sph!4v1535339330733" frameborder="0" style="border:0" allowfullscreen></iframe>
