<link src="assets/styles/socialfeed.css" rel="stylesheet"/>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <div class="social-feed-container"></div>
    <mat-sidenav-container class="example-sidenav-container" [class.is-mobile]="mobileQuery.matches"
                           [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
      <mat-sidenav class="dk-primary-bg-color" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links">
              <a matLine *ngIf="link.route != 'Logout'" routerLink="{{link.route}}" routerLinkActive="active" (click)="snav.toggle()">
                <i class="material-icons lt-primary-color">{{ link.icon }}</i>
                <span *ngIf="mobileQuery.matches">{{ link.description }}</span>
              </a>
              <a matLine href="..." *ngIf="link.route == 'Logout'" (click)="logout()">
                <i class="material-icons lt-primary-color">{{ link.icon }}</i>
                <span *ngIf="mobileQuery.matches">{{ link.description }}</span>
              </a>
              <mat-divider></mat-divider>
           </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
          <button mat-icon-button class="dk-primary-color" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <div>
          </div>
          <div class="bgBox"></div>
          <!--<video autoplay muted loop id="vid-bg">-->
            <!--<source src="assets/videos/ink_water.webm" type="video/WebM">-->
          <!--</video>-->
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>


