.header-container{
    text-align: center;
}

.section-container{
    text-align: left;
    margin: 1rem;
}

.flex-container{
    text-align: center;
    //display: flex;
    margin-bottom: 3rem;
}

.flex-container div.item{
    //flex-basis: 15%;
}

div.item{
    //flex-basis: 15%;
}

img.header-icon {
    width: 15vw;
}

.img-circle {
    -webkit-filter: grayscale(50%);
    border-radius: 50%;
    margin: .5rem;
    height: 30vh;
}

h2 {
    font-family: 'Prata', cursive;
    font-size: 8vw;
    font-weight: 300 !important;
    text-shadow: 1px 1px rgba(85, 105, 132, 0.3);
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Prata', cursive;
    font-size: 4vw;
    margin: 10px;
    font-weight: 400 !important;
    color: #4c5f79;
}

h3.subheader{
    font-weight: 400 !important;
    font-size: 6vw;
    text-align: center;
    color: #556984;
}

div.subheader{
    padding: .5rem;
    margin: .5rem 0;
    background-image: url('../../assets/images/full-bloom.png');
}

span{
    font-family: "Lato", Arial, sans-serif;
    text-transform: uppercase;
    color: #4c5f79;
}

p{
    color: #fff;
    margin: 20px;
    font-family: "Lato", Arial, sans-serif;
}

.guest-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card {
    width: 100%;
    height: 100%;
}
