<div class="header-container fade-in first">
  <img src="assets/images/wedding.svg" class="header-icon">
  <h2 class="primary-color">We're getting married</h2>
  <p class="subtitle fancy">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Nam accusamus, sequi, minima repellendus explicabo magni aperiam,
      ducimus perferendis ad quidem suscipit omnis unde veritatis pariatur.
      Commodi, nisi. Iusto, accusantium a.
  </p>
</div>
<div class="section-container fade-in second">
  <div class="item"><span></span></div>
  <div class="item">
    <img class="img-circle" src="assets/images/1a.jpeg">
    <h3>Jonathan Lucios</h3>
    <h3>Polancos</h3>
    <span>Groom</span>
  </div>
  <div class="item">
    <img class="img-circle" src="assets/images/1b.jpeg">
    <h3>Ma. Cristina</h3>
    <h3>Balindo</h3>
    <span>Bride</span>
  </div>
</div>
