@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');

@import '~@angular/material/theming';

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600)
);

@include mat-core($general-typography);


$md-dustyblue: (
    50 : #f0f3f5,
    100 : #dae0e7,
    200 : #c2cbd7,
    300 : #aab6c6,
    400 : #97a7ba,
    500 : #8597ae,
    600 : #7d8fa7,
    700 : #72849d,
    800 : #687a94,
    900 : #556984,
    A100 : #ebf3ff,
    A200 : #b8d5ff,
    A400 : #85b7ff,
    A700 : #6ca8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bluegrey0: (
    50 : #eff1f4,
    100 : #d8dde4,
    200 : #bec7d2,
    300 : #a3b0c0,
    400 : #909fb3,
    500 : #7c8ea5,
    600 : #74869d,
    700 : #697b93,
    800 : #5f718a,
    900 : #4c5f79,
    A100 : #dae9ff,
    A200 : #a7cbff,
    A400 : #74adff,
    A700 : #5a9eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bv-palette-primary: mat-palette($md-dustyblue);
$bv-palette-accent:  mat-palette($md-bluegrey0);

$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

@include angular-material-theme($bv-theme);

